.explore-venues-browse-free-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.explore-venues-browse-free-thq-premium-hero-section-elm {
  width: 100%;
}
 
.explore-venues-browse-free-container2 {
  display: none;
}
 
.explore-venues-browse-free-container3 {
  display: contents;
}
