.home-browse-free-container {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-browse-free-thq-btn-elm10 {
  width: 366px;
  text-decoration: none;
}
 
.home-browse-free-thq-btn-elm11 {
  width: 366px;
  text-decoration: none;
}
 
.home-browse-free-thq-btn-elm12 {
  text-decoration: none;
}
 
.home-browse-free-thq-btn-elm13 {
  width: 294px;
  text-decoration: none;
}
 
.home-browse-free-thq-btn-elm14 {
  width: 297px;
  text-decoration: none;
}
 
.home-browse-free-thq-btn-elm15 {
  width: 295px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
 
.home-browse-free-thq-btn-elm16 {
  text-decoration: none;
}
 
.home-browse-free-thq-btn-elm17 {
  text-decoration: none;
}
 
.home-browse-free-thq-btn-elm18 {
  text-decoration: none;
}
 
.home-browse-free-thq-btn-elm19 {
  text-decoration: none;
}
 
.home-browse-free-thq-btn-elm20 {
  text-decoration: none;
}
 
.home-browse-free-thq-btn-elm21 {
  text-decoration: none;
}
 
.home-browse-free-thq-btn-elm22 {
  text-decoration: none;
}
 
.home-browse-free-thq-btn-elm23 {
  text-decoration: none;
}
