.how-we-work-browse-free-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.how-we-work-browse-free-thq-how-it-works-hero-elm {
  width: 100%;
}
