.partnership-browse-free-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.partnership-browse-free-thq-partners-form-checkbox-label-elm1 {
  color: var(--color-on-surface);
  font-size: var(--font-size-sm);
}
 
.partnership-browse-free-thq-partners-form-checkbox-label-elm2 {
  color: var(--color-on-surface);
  font-size: var(--font-size-sm);
}
 
.partnership-browse-free-thq-partners-form-checkbox-label-elm3 {
  color: var(--color-on-surface);
  font-size: var(--font-size-sm);
}
 
.partnership-browse-free-thq-partners-form-checkbox-label-elm4 {
  color: var(--color-on-surface);
  font-size: var(--font-size-sm);
}
 
.partnership-browse-free-thq-partners-form-checkbox-label-elm5 {
  color: var(--color-on-surface);
  font-size: var(--font-size-sm);
}
 
.partnership-browse-free-thq-partners-form-checkbox-label-elm6 {
  color: var(--color-on-surface);
  font-size: var(--font-size-sm);
}
 
.partnership-browse-free-thq-partners-form-checkbox-label-elm7 {
  color: var(--color-on-surface);
  font-size: var(--font-size-sm);
}
 
.partnership-browse-free-thq-partners-form-checkbox-label-elm8 {
  color: var(--color-on-surface);
  font-size: var(--font-size-sm);
}
 
.partnership-browse-free-thq-btn-elm7 {
  text-decoration: none;
}
 
.partnership-browse-free-thq-btn-elm8 {
  text-decoration: none;
}
