.subscription-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.subscription-container2 {
  display: none;
}
 
.subscription-container3 {
  display: contents;
}
