.top-picks-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.top-picks-thq-navigation-wrapper-elm {
  display: contents;
}
 
.top-picks-link14 {
  text-decoration: none;
}
 
.top-picks-container21 {
  display: none;
}
 
.top-picks-container22 {
  display: contents;
}
 
.top-picks-container23 {
  text-decoration: none;
}
 
.top-picks-container24 {
  text-decoration: none;
}
 
.top-picks-thq-active-elm {
  text-decoration: none;
}
 
.top-picks-thq-city-chip-elm1 {
  text-decoration: none;
}
 
.top-picks-thq-city-chip-elm2 {
  text-decoration: none;
}
 
.top-picks-thq-city-chip-elm3 {
  text-decoration: none;
}
 
.top-picks-thq-city-chip-elm4 {
  text-decoration: none;
}
 
.top-picks-container26 {
  text-decoration: none;
}
 
.top-picks-container28 {
  text-decoration: none;
}
 
.top-picks-container30 {
  text-decoration: none;
}
 
.top-picks-container32 {
  text-decoration: none;
}
 
.top-picks-container34 {
  text-decoration: none;
}
 
.top-picks-container36 {
  text-decoration: none;
}
 
.top-picks-thq-btn-elm4 {
  text-decoration: none;
}
 
.top-picks-text64 {
  color: var(--color-accent);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
}
 
.top-picks-container44 {
  display: none;
}
 
.top-picks-container45 {
  display: contents;
}
 
.top-picks-container46 {
  display: none;
}
 
.top-picks-container47 {
  display: contents;
}
