.top3-tonight-locked-partially-container1 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.top3-tonight-locked-partially-container2 {
  display: none;
}
 
.top3-tonight-locked-partially-container3 {
  display: contents;
}
 
.top3-tonight-locked-partially-container4 {
  display: none;
}
 
.top3-tonight-locked-partially-container5 {
  display: contents;
}
 
.top3-tonight-locked-partially-container6 {
  display: none;
}
 
.top3-tonight-locked-partially-container7 {
  display: contents;
}
