.navigation-container1 {
  display: contents;
}
 
.navigation-thq-navigation-brand-elm1 {
  text-decoration: none;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigationroot-class-name {
  top: 0;
  z-index: 1000;
  position: sticky;
}
 
.navigationroot-class-name1 {
  top: 0;
  z-index: 1000;
  position: sticky;
}
